<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{%block title%} {%endblock%}</title>
    <style>
            {%block css%} {%endblock%}




    </style>
</head>
<body>
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand " href="/">
    <img src="/media/gou/image/giftonus.png" width="40" height="35" class="d-inline-block align-top" alt="">
        Gift On Us
    </a>
<!--    <a class="navbar-brand" href=""><b>Gift On Us</b></a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/track">Tracker</a>
            </li>
            <li class="nav-item">

            </li>

        </ul>
        <div class="ml-auto">
            <form class="form-inline my-2 my-lg-0 " method="get" action="/search/" >
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


                {%if user.is_authenticated%}
                <button type="button" class="btn btn-outline-success mx-2" id="popcart" data-container="body"
                        data-toggle="popover" data-html="true" data-placement="bottom" data-content=""> Cart(<span
                        id="cart">0</span>)
                </button>
                <ul class="navbar-nav ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            welcome {{request.user.first_name}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/logout">Logout</a>

                        </div>
                    </li>
                </ul>


                {%else%}
                <!-- Button trigger login modal -->
                <button type="button" class="btn btn-outline-success mx-2" data-toggle="modal" data-target="#loginModal">
                    Log In
                </button>
                <!-- Button trigger singup modal -->
                <button type="button" class="btn btn-outline-success " data-toggle="modal"
                        data-target="#signupModal">
                    Sign Up
                </button>


                {%endif%}

            </form>
        </div>


        <!-- login Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="login-title" id="loginModal">Log In Here</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/login" method="post">
                            <div class="form-group">
                                {%csrf_token%}
                                <label for="loginusername">User Name</label>
                                <input type="text" class="form-control" id="loginusername" name="loginusername"
                                       placeholder="Username" required>
                            </div>
                            <div class="form-group ">
                                <label for="loginpassword">Password</label>
                                <input type="password" class="form-control" id="loginpassword" name="loginpassword"
                                       placeholder="Enter Your Password" required>
                            </div>
                            <button type="submit" class="btn btn-outline-success mx-2">Log In</button>
                            <button type="button" class="btn btn-outline-warning">Forget Password</button>
                        </form>
                    </div>
                    <div class="modal-footer">


                    </div>
                </div>
            </div>
        </div>

        <!-- signup Modal -->
        <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="signup-title" id="signupModal">Sign Up Here</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/signup" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">User Name</label>
                                <input type="text" class="form-control" id="username" name="username"
                                       placeholder="Username"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="fname" name="fname"
                                       placeholder="Enter Your First Name" required>
                            </div>
                            <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" id="lname" name="lname"
                                       placeholder="Enter Your Last Name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="Enter Your Email"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone No.</label>
                                <input type="tel" class="form-control" id="phone" name="phone"
                                       placeholder="Enter Your Phone No"
                                       required>
                            </div>
                            <div class="form-group ">
                                <label for="password1">Password1</label>
                                <input type="password" class="form-control" id="password1" name="password1"
                                       placeholder="Enter Your Password" required>
                            </div>
                            <div class="form-group ">
                                <label for="password2">Password2</label>
                                <input type="text" class="form-control" id="password2" name="password2"
                                       placeholder="Again Enter Your Password" required>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-outline-success">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert">
    <strong>Message : </strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{%block body%} {%endblock%}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

{%block js %} {%endblock%}

</body>

</html>