{%extends 'gou/base.html'%}
{%block title%}
{{products.product_name}}
{%endblock%}

{%block body%}
<div class="container my-4">
    <div class="row">
       <div class="col-md-4">
          <div class="row">
             <img src="/media/{{products.image}}" width="225px" height="275px">
          </div>
            <div class="row my-4">
                <button class="btn btn-primary mx-2"> Buy Now</button>
                <button class="btn btn-primary ">Add To Cart</button>
            </div>
      </div>

      <div class="col-md-8">
          <h5><b>{{products.product_name}}</b></h5>
          <p><b>Rs. {{products.price}}</b></p>
          <p>{{products.product_desc}}</p>
      </div>

    </div>
</div>

{%endblock%}
